header {
  background-color: #727272;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items:center;
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  ;}

.foto{
  display: flex;
position: relative;
align-items: end;
justify-content: center;
}

.MDW_TITU {
  font-size: 50px;
}

.foto img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: #000000;
  margin: 10px;
}

button{
  background-color: #000000;
  color: azure;
  font-size: large;
  margin: 10px;
  cursor: pointer;
  transition: font-size 0.5s ease;
}

.bravo {
width: 150px;
  height: 100px;
}
header a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s;
}

button:hover {
  
  font-size: larger;
}

.direita {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:right;
}

.começo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.butoentrar {
  font-size: 50px;
}

body{
  background-color: rgba(74, 78, 78, 0.336);
}